openapi: 3.1.0
info:
  title: Kernel API
  description: Developer tools and cloud infrastructure for AI agents to use web browsers
  version: 0.1.0
servers:
  - url: https://api.onkernel.com
    description: API Server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
          description: Lower-level error code providing more specific detail
          example: invalid_input
        message:
          type: string
          description: Further detail about the error
          example: Provided version string is not semver compliant
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Application-specific error code (machine-readable)
          example: bad_request
        message:
          type: string
          description: Human-readable error description for debugging
          example: 'Missing required field: app_name'
        details:
          type: array
          description: Additional error details (for multiple errors)
          items:
            $ref: '#/components/schemas/ErrorDetail'
        inner_error:
          $ref: '#/components/schemas/ErrorDetail'
    AuthContext:
      type: object
      description: The identity and authorization context resolved for the current request.
      required:
        - authentication
        - principal
        - organization
        - authorization
      properties:
        authentication:
          $ref: '#/components/schemas/AuthContextAuthentication'
        principal:
          $ref: '#/components/schemas/AuthContextPrincipal'
        organization:
          $ref: '#/components/schemas/AuthContextOrganization'
        authorization:
          $ref: '#/components/schemas/AuthContextAuthorization'
    AuthContextAuthentication:
      type: object
      required:
        - method
        - source
        - credential_id
      properties:
        method:
          type: string
          description: The credential format used to authenticate the request.
          enum:
            - api_key
            - jwt
        source:
          type: string
          description: The source classification resolved by authentication middleware.
          enum:
            - api_key
            - oauth
            - dashboard
        credential_id:
          type:
            - string
            - "null"
          description: The API key ID when authenticated with an API key; null for session credentials.
    AuthContextPrincipal:
      type: object
      required:
        - type
        - id
      properties:
        type:
          type: string
          description: The kind of principal authenticated for the request.
          enum:
            - api_key
            - user
        id:
          type: string
          description: The API key ID for API-key principals or user ID for user principals.
    AuthContextOrganization:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: The authenticated Kernel organization ID.
    AuthContextScope:
      type: object
      description: A scope within the authenticated organization. A null project_id represents organization-wide scope.
      required:
        - project_id
      properties:
        project_id:
          type:
            - string
            - "null"
          description: The Kernel project ID, or null when the scope is organization-wide.
    AuthContextAuthorization:
      type: object
      description: The credential's maximum scope and the effective scope selected for this request. Future permission data can be added without changing scope semantics.
      required:
        - credential_scope
        - effective_scope
      properties:
        credential_scope:
          $ref: '#/components/schemas/AuthContextScope'
        effective_scope:
          $ref: '#/components/schemas/AuthContextScope'
    ManagedAuthError:
      type: object
      description: Extended error response for managed auth operations with recovery context
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code for programmatic handling
          enum:
            - login_form_not_found
            - navigation_confused
            - domain_not_allowed
            - stuck_in_loop
            - max_attempts_reached
            - website_error
            - network_error
            - element_not_found
            - credentials_invalid
            - mfa_required
            - external_action_required
            - unsupported_auth_method
            - bot_detected
            - captcha_blocked
            - session_expired
            - no_active_flow
            - flow_failed
            - awaiting_input_timeout
            - external_action_timeout
            - max_steps_exceeded
            - browser_error
            - internal_error
          example: login_form_not_found
        message:
          type: string
          description: Human-readable error message suitable for display
          example: We couldn't find a login form on this page. The website may have changed its layout, or the login URL might be incorrect.
        details:
          type: string
          description: Additional technical details for debugging (not shown to end users)
          example: Searched for login forms at https://example.com/login, found 0 form elements
        doc_url:
          type: string
          format: uri
          description: Link to documentation about this error
          example: https://docs.onkernel.com/errors/login_form_not_found
        recoverable:
          type: boolean
          description: Whether the user can retry or take action to resolve this error
          example: true
    InvokeResponse:
      type: object
      properties:
        id:
          type: string
          description: ID of the invocation
          example: rr33xuugxj9h0bkf1rdt2bet
        action_name:
          type: string
          description: Name of the action invoked
          example: analyze
        status:
          type: string
          description: Status of the invocation
          enum:
            - queued
            - running
            - succeeded
            - failed
          example: queued
        status_reason:
          type: string
          description: Status reason
          example: Invocation queued for execution
        output:
          type: string
          description: 'The return value of the action that was invoked, rendered as a JSON string. This could be: string, number, boolean, array, object, or null.'
          example: '{"result":"success","data":"processed input"}'
      required:
        - id
        - action_name
        - status
    Invocation:
      type: object
      properties:
        id:
          type: string
          description: ID of the invocation
          example: rr33xuugxj9h0bkf1rdt2bet
        app_name:
          type: string
          description: Name of the application
          example: my-app
        version:
          type: string
          description: Version label for the application
          example: 1.0.0
        action_name:
          type: string
          description: Name of the action invoked
          example: analyze
        payload:
          type: string
          description: Payload provided to the invocation. This is a string that can be parsed as JSON.
          example: '{"data":"example input"}'
        output:
          type: string
          description: 'Output produced by the action, rendered as a JSON string. This could be: string, number, boolean, array, object, or null.'
          example: '{"result":"success","data":"processed input"}'
        started_at:
          type: string
          format: date-time
          description: RFC 3339 Nanoseconds timestamp when the invocation started
          example: 2024-05-19T15:30:00.000000000Z07:00
        finished_at:
          type: string
          format: date-time
          nullable: true
          description: RFC 3339 Nanoseconds timestamp when the invocation finished (null if still running)
          example: 2024-05-19T15:30:05.000000000Z07:00
        status:
          type: string
          description: Status of the invocation
          enum:
            - queued
            - running
            - succeeded
            - failed
          example: succeeded
        status_reason:
          type: string
          description: Status reason
          example: Invocation completed successfully
      required:
        - id
        - app_name
        - version
        - action_name
        - started_at
        - status
    Tags:
      type: object
      maxProperties: 50
      description: User-defined key-value tags.
      propertyNames:
        type: string
        minLength: 1
        maxLength: 128
        pattern: ^[A-Za-z0-9 _.:/=+@-]+$
      additionalProperties:
        type: string
        minLength: 0
        maxLength: 256
        pattern: ^[A-Za-z0-9 _.:/=+@-]*$
      example:
        team: backend
        env: staging
    Browser:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: When the browser session was created.
        cdp_ws_url:
          type: string
          description: Websocket URL for Chrome DevTools Protocol connections to the browser session
          example: wss://proxy.yul-upbeat-herschel.onkernel.com:8443/browser/cdp?jwt=eyJ0eXAi...
        webdriver_ws_url:
          type: string
          description: Websocket URL for WebDriver BiDi connections to the browser session
          example: wss://proxy.yul-upbeat-herschel.onkernel.com:8443/browser/webdriver/session?jwt=eyJ0eXAi...
        browser_live_view_url:
          type: string
          description: Remote URL for live viewing the browser session. Only available for non-headless browsers.
          example: https://proxy.yul-upbeat-herschel.onkernel.com:8443/browser/live?jwt=eyJ0eXAi...
        base_url:
          type: string
          description: Metro-API HTTP base URL for this browser session.
          example: https://proxy.yul-upbeat-herschel.onkernel.com:8443/browser/kernel
        headless:
          type: boolean
          description: Whether the browser session is running in headless mode.
          example: false
        stealth:
          type: boolean
          description: Whether the browser session is running in stealth mode.
          example: false
        gpu:
          type: boolean
          description: Whether GPU acceleration is enabled for the browser session (only supported for headful sessions).
          example: false
        session_id:
          type: string
          description: Unique identifier for the browser session
          example: htzv5orfit78e1m2biiifpbv
        name:
          type: string
          description: Human-readable name of the browser session, if one was set at creation.
          example: checkout-flow-1
        timeout_seconds:
          type: integer
          description: The number of seconds of inactivity before the browser session is terminated.
        profile:
          $ref: '#/components/schemas/Profile'
        profile_save_changes:
          type: boolean
          description: Whether changes made during this browser session are saved back to its profile when the session ends. Omitted when no profile is attached.
        proxy_id:
          type: string
          deprecated: true
          x-deprecated-reason: Use proxy instead.
          description: ID of the proxy associated with this browser session, if any. Deprecated in favor of proxy.
        proxy:
          $ref: '#/components/schemas/BrowserProxy'
          description: Resolved proxy configuration for this browser session.
        pool:
          $ref: '#/components/schemas/BrowserPoolRef'
        viewport:
          $ref: '#/components/schemas/BrowserViewport'
        kiosk_mode:
          type: boolean
          description: Whether the browser session is running in kiosk mode.
          example: false
        start_url:
          type: string
          description: URL the session was asked to navigate to on creation, if any. Recorded for debugging. Navigation is fire-and-forget — the URL is dispatched to the browser without waiting for it to load, and any errors (DNS failure, bad status, timeout) are silently dropped. Captures what was requested, not what the browser actually loaded.
          example: https://example.com
        chrome_policy:
          type: object
          additionalProperties: true
          description: |
            Custom Chrome enterprise policy overrides that were applied to this browser session, if any. Echoed back for verification. Keys are Chrome enterprise policy names.
        tags:
          $ref: '#/components/schemas/Tags'
          description: User-defined key-value tags that were set on this browser session, if any. Echoed back when present.
        deleted_at:
          type: string
          format: date-time
          description: When the browser session was soft-deleted. Only present for deleted sessions.
        usage:
          $ref: '#/components/schemas/BrowserUsage'
        telemetry:
          $ref: '#/components/schemas/BrowserTelemetryConfig'
          nullable: true
          description: Active telemetry configuration for the session, if any.
      required:
        - created_at
        - cdp_ws_url
        - webdriver_ws_url
        - session_id
        - stealth
        - headless
        - timeout_seconds
    BrowserRequest:
      type: object
      description: |
        Parameters for creating a browser session.
      properties:
        invocation_id:
          type: string
          description: action invocation ID
          example: rr33xuugxj9h0bkf1rdt2bet
        name:
          type: string
          description: |
            Optional human-readable name for the browser session, used to find it later in the dashboard. Must be unique among active sessions within the project. Can be changed later via PATCH /browsers/{id_or_name}.
          minLength: 1
          maxLength: 255
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          example: checkout-flow-1
        tags:
          $ref: '#/components/schemas/Tags'
          description: |
            Optional user-defined key-value tags for the browser session, used to find and group sessions later. Can be changed later via PATCH /browsers/{id_or_name}. Up to 50 pairs.
        stealth:
          type: boolean
          description: |
            If true, launches the browser in stealth mode and enables the CAPTCHA solver. Defaults to false.
            When proxy is omitted, stealth browsers use Kernel's default stealth proxy and non-stealth browsers use direct egress.
            An explicit proxy configuration changes only egress; it does not enable or disable stealth or the CAPTCHA solver.
          example: true
        headless:
          type: boolean
          description: If true, launches the browser using a headless image (no VNC/GUI). Defaults to false.
          example: false
        gpu:
          type: boolean
          description: If true, enables GPU acceleration for the browser session. Requires Start-Up or Enterprise plan and headless=false.
          example: false
        timeout_seconds:
          type: integer
          description: The number of seconds of inactivity before the browser session is terminated. Activity includes CDP connections and live view connections. Defaults to 60 seconds. Minimum allowed is 10 seconds. Maximum allowed is 259200 (72 hours). We check for inactivity every 5 seconds, so the actual timeout behavior you will see is +/- 5 seconds around the specified value.
          minimum: 10
          maximum: 259200
        profile:
          $ref: '#/components/schemas/BrowserProfile'
        extensions:
          type: array
          description: List of browser extensions to load into the session. Provide each by id or name.
          maxItems: 20
          items:
            $ref: '#/components/schemas/BrowserExtension'
        proxy_id:
          type: string
          deprecated: true
          x-deprecated-reason: Use proxy instead.
          description: Optional proxy to associate to the browser session. Must reference a proxy in the same project as the browser session. Deprecated in favor of proxy.
        proxy:
          $ref: '#/components/schemas/BrowserProxyConfig'
          description: |
            Proxy configuration for the browser session. Cannot be combined with proxy_id.
            Omit to use the browser default: stealth browsers use Kernel's default stealth proxy, while non-stealth browsers use direct egress.
            Set mode to direct to force direct egress regardless of stealth. Set mode to default to explicitly use the browser default: Kernel's default stealth proxy when stealth=true, or direct egress when stealth=false.
            Select id or name to use that proxy regardless of stealth. Proxy selection does not change stealth or CAPTCHA solver behavior.
        viewport:
          $ref: '#/components/schemas/BrowserViewport'
        kiosk_mode:
          type: boolean
          description: If true, launches the browser in kiosk mode to hide address bar and tabs in live view.
          example: true
        start_url:
          type: string
          description: Optional URL to open when the browser session is created. Navigation is best-effort, so navigation failures do not prevent the session from being created.
          example: https://example.com
        chrome_policy:
          type: object
          additionalProperties: true
          description: |
            Custom Chrome enterprise policy overrides applied to this browser session. Keys are Chrome enterprise policy names; values must match their expected types. Blocked: kernel-managed policies (extensions, proxy, CDP/automation). See https://chromeenterprise.google/policies/
        telemetry:
          $ref: '#/components/schemas/BrowserTelemetryRequestConfig'
          nullable: true
          description: |
            Telemetry configuration for the browser session. Set enabled to true to start capture using VM defaults, or provide browser category settings. If omitted, null, set to an empty object ({}), set to enabled: false without browser category settings, or all four categories are explicitly disabled, capture is not started.
      required: []
    BrowserUsage:
      type: object
      description: Session usage metrics.
      properties:
        uptime_ms:
          type: integer
          description: Time in milliseconds the session was actively running.
      required:
        - uptime_ms
    BrowserPoolRef:
      type: object
      description: Browser pool this session was acquired from, if any.
      properties:
        id:
          type: string
          description: Browser pool ID
        name:
          type: string
          description: Browser pool name, if set
      required:
        - id
    BrowserUpdateRequest:
      type: object
      description: Request body for updating a browser session.
      properties:
        name:
          type: string
          nullable: true
          description: |
            Human-readable name for the browser session. Omit to leave unchanged, set to an empty string to clear the name. When set, must be unique among active sessions within the project.
          minLength: 1
          maxLength: 255
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          example: checkout-flow-1
        tags:
          $ref: '#/components/schemas/Tags'
          nullable: true
          description: |
            User-defined key-value tags for the browser session. Omit to leave unchanged. Provide a map to replace the entire tag set (full replace, not a merge). Set to an empty object ({}) to clear all tags. Up to 50 pairs.
        proxy_id:
          type: string
          nullable: true
          deprecated: true
          x-deprecated-reason: Use proxy instead.
          description: ID of the proxy to use. Omit to leave unchanged, set to empty string to remove proxy. Deprecated in favor of proxy.
        disable_default_proxy:
          type: boolean
          deprecated: true
          x-deprecated-reason: Use proxy.mode instead.
          description: If true, stealth browsers connect directly instead of using the default stealth proxy. Deprecated in favor of proxy.mode.
        proxy:
          $ref: '#/components/schemas/BrowserProxyConfig'
          description: |
            Proxy configuration to apply. Omit to leave the current configuration unchanged. Cannot be combined with proxy_id or disable_default_proxy.
            Set mode to direct to switch to direct egress regardless of stealth. Set mode to default to restore the browser default after using a selected proxy: Kernel's default stealth proxy for a stealth browser, or direct egress for a non-stealth browser.
            Updating proxy does not change stealth or CAPTCHA solver behavior.
        profile:
          $ref: '#/components/schemas/BrowserProfile'
          description: Profile to load into the browser session. Only allowed if the session does not already have a profile loaded.
        viewport:
          $ref: '#/components/schemas/BrowserViewportUpdate'
          description: Viewport configuration to apply to the browser session.
        telemetry:
          $ref: '#/components/schemas/BrowserTelemetryRequestConfig'
          nullable: true
          description: |
            Telemetry configuration. Omit, set to null, or set to an empty object ({}) to leave the existing configuration unchanged. Set enabled to true to enable capture using VM defaults. Set enabled to false to stop capture. Provide browser category settings for per-category updates. Explicitly disabling all four categories also stops capture.
    BrowserTelemetryConfig:
      type: object
      description: Active telemetry configuration for a browser session.
      properties:
        browser:
          $ref: '#/components/schemas/BrowserTelemetryCategoriesConfig'
          description: Per-category enable/disable flags.
        export:
          $ref: '#/components/schemas/BrowserTelemetryExportConfig'
          description: Where the session's captured telemetry is being exported. Omitted when the export state is unknown.
    BrowserTelemetryExportConfig:
      type: object
      description: Active export state for a session's captured telemetry, by protocol.
      properties:
        otlp:
          $ref: '#/components/schemas/BrowserTelemetryOTLPExportConfig'
          description: Active OTLP export state.
    BrowserTelemetryOTLPExportConfig:
      type: object
      description: Active OTLP export state for a browser session.
      properties:
        enabled:
          type: boolean
          description: Whether the session is exporting captured telemetry over OTLP.
        destination:
          type: string
          description: ID of the OTLP destination the session is bound to. Omitted when the session is not exporting.
    BrowserTelemetryRequestConfig:
      type: object
      description: Telemetry request configuration for a browser session.
      properties:
        enabled:
          type: boolean
          description: Request shortcut for browser telemetry capture. True enables capture; with no browser category settings it captures the default set (control, connection, system, captcha), and any browser category settings are layered onto that default set. On update, enabled=true resolves the config fresh from the default set plus any provided categories, replacing the session's current selection rather than merging onto it; omit enabled to merge categories onto the current selection instead. False stops capture on update and starts no capture on create. enabled=false cannot be combined with browser category settings.
        export:
          $ref: '#/components/schemas/BrowserTelemetryExportRequestConfig'
          description: Where to export this session's captured telemetry. Omit to capture without exporting.
        browser:
          $ref: '#/components/schemas/BrowserTelemetryCategoriesConfig'
          description: Per-category capture flags. The operational categories (control, connection, system, captcha) are captured whenever telemetry is enabled; set one to enabled=false to opt out. The CDP categories (console, network, page, interaction) and screenshot are off by default; set enabled=true to opt in. On create, provided categories layer onto the default set. On update, provided categories merge onto the session's current config; when no telemetry is active this falls back to the default set (matching create). If browser is omitted or empty, the default set is used. A browser config that disables every category stops capture on update and starts no capture on create.
    BrowserTelemetryExportRequestConfig:
      type: object
      description: Export destinations for a session's captured telemetry, by protocol. Honored when creating a browser, including the browser a managed auth connection creates for a login. Browser pools do not support export and reject it; on a browser update it is ignored, so the session keeps the destination it was created with.
      properties:
        otlp:
          $ref: '#/components/schemas/BrowserTelemetryOTLPExportRequestConfig'
          description: Export captured telemetry over OTLP to one of the org's configured destinations.
    BrowserTelemetryOTLPExportRequestConfig:
      type: object
      description: OTLP export settings for a browser session.
      properties:
        enabled:
          type: boolean
          description: Whether to export captured telemetry over OTLP. Setting destination implies enabled=true, so this only needs to be set explicitly to disable export (enabled=false with a destination is rejected).
        destination:
          $ref: '#/components/schemas/OTLPDestinationRef'
          description: OTLP destination to export this session's captured telemetry to. Provide either id or name. Requires telemetry capture to be enabled.
    OTLPDestinationRef:
      type: object
      description: |
        OTLP destination selection. Provide either id or name. The destination must belong to the caller's org.
        When selecting by name, the name must match exactly one destination in the org. Ambiguous names return a 400; use id for stable references.
      properties:
        id:
          type: string
          description: OTLP destination ID
        name:
          type: string
          description: OTLP destination name
      oneOf:
        - required:
            - id
        - required:
            - name
    BrowserTelemetryCategoriesConfig:
      type: object
      description: 'Per-category telemetry capture settings layered onto the default set. The operational signals (control, connection, system, captcha) are on by default and are opt-out: set one to enabled=false to stop capturing it. The CDP categories (console, network, page, interaction) and screenshot are off by default and are opt-in: set enabled=true to capture them.'
      properties:
        console:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: Console output (log, warn, error) and uncaught exceptions. CDP category; off by default.
        page:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: Page lifecycle events including navigation, DOMContentLoaded, load, layout shifts, and LCP. CDP category; off by default.
        interaction:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: User interaction events including clicks, keydowns, and scroll-settled events. CDP category; off by default.
        network:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: HTTP request and response metadata including URL, method, status code, and timing. Request post data is forwarded as-is from CDP. Text response bodies are truncated at 8 KB for structured types (JSON, XML, form data) and 4 KB for other text types. Binary responses (images, fonts, media) are excluded. CDP category; off by default.
        control:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: Agent-driven actions against the browser, such as inbound calls to the in-VM API. On by default.
        connection:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: Client attach/detach lifecycle for the CDP proxy and live view. On by default.
        system:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: Browser VM health, such as out-of-memory kills and managed-service crashes. On by default.
        screenshot:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: Periodic base64-encoded viewport screenshots. High volume; off by default and must be opted into.
        captcha:
          $ref: '#/components/schemas/BrowserTelemetryCategoryConfig'
          description: Captcha solve attempt outcomes. On by default.
    BrowserTelemetryCategoryConfig:
      type: object
      description: Per-category telemetry configuration.
      properties:
        enabled:
          type: boolean
          description: Whether this category is captured. Operational categories (control, connection, system, captcha) default to true; set false to opt out. CDP categories (console, network, page, interaction) and screenshot default to false; set true to opt in.
    BrowserEventSource:
      type: object
      description: Provenance metadata identifying which producer emitted the event.
      required:
        - kind
      properties:
        kind:
          type: string
          enum:
            - cdp
            - kernel_api
            - extension
            - local_process
          description: 'Event producer. cdp: Chrome DevTools Protocol events from the browser. kernel_api: Kernel API server. extension: injected Chrome extension. local_process: system process running alongside the browser.'
        event:
          type: string
          description: Producer-specific event name (e.g. Runtime.consoleAPICalled for CDP-sourced console events, Runtime.exceptionThrown for uncaught exceptions).
        metadata:
          type: object
          description: Producer-specific context (e.g. CDP target/session/frame IDs).
          additionalProperties:
            type: string
    BrowserCallStack:
      type: object
      description: CDP Runtime.StackTrace representing the JavaScript call stack at the time of an event. Fields use CDP naming conventions rather than snake_case to match the Chrome DevTools Protocol wire format.
      required:
        - callFrames
      properties:
        description:
          type: string
          description: Optional label for the stack trace (e.g. async cause).
        callFrames:
          type: array
          description: Ordered list of call frames, outermost first.
          items:
            type: object
            required:
              - functionName
              - scriptId
              - url
              - lineNumber
              - columnNumber
            properties:
              functionName:
                type: string
                description: JavaScript function name, or empty string for anonymous functions.
              scriptId:
                type: string
                description: CDP script identifier.
              url:
                type: string
                description: URL or name of the script file.
              lineNumber:
                type: integer
                description: Zero-based line number within the script.
              columnNumber:
                type: integer
                description: Zero-based column number within the line.
        parent:
          $ref: '#/components/schemas/BrowserCallStack'
          description: Parent stack trace for async stacks.
    BrowserHttpHeaders:
      type: object
      description: HTTP headers map forwarded as-is from CDP without normalization. Values are typically strings but may be any JSON type.
      additionalProperties: true
    BrowserTargetType:
      type: string
      description: CDP target type of the page that produced the event.
      enum:
        - page
        - background_page
        - service_worker
        - shared_worker
        - other
    BrowserEventContext:
      type: object
      description: Browser event context stamped by the browser monitor onto all CDP-sourced events. Identifies the target, frame, and navigation epoch in which the event occurred.
      properties:
        session_id:
          type: string
          description: CDP session identifier for the target connection.
        target_id:
          type: string
          description: Browser target identifier (stable across navigations within a tab).
        target_type:
          $ref: '#/components/schemas/BrowserTargetType'
        frame_id:
          type: string
          description: CDP frame identifier within the target.
        loader_id:
          type: string
          description: CDP document loader identifier, reset on each navigation.
        url:
          type: string
          description: URL relevant to this event — page URL for navigation and page events, request URL for network events.
        nav_seq:
          type: integer
          format: int64
          description: Monotonically increasing navigation sequence number, incremented on each top-level navigation within the target.
    BrowserConsoleLogEvent:
      type: object
      title: console_log
      description: A browser console log event (console.log, console.info, console.warn, etc.).
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: console_log
        category:
          type: string
          const: console
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                level:
                  type: string
                  description: CDP Runtime.consoleAPICalled type, passed through unfiltered from Chrome. error is routed to console_error events instead; all other CDP console types appear here. See CDP spec for the full enum.
                text:
                  type: string
                  description: First console argument coerced to string.
                args:
                  type: array
                  description: All console arguments coerced to strings.
                  items:
                    type: string
                stack_trace:
                  $ref: '#/components/schemas/BrowserCallStack'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserConsoleErrorEvent:
      type: object
      title: console_error
      description: |
        A browser console error or uncaught JavaScript exception event. Emitted from two distinct CDP sources with different data shapes. Runtime.consoleAPICalled (console.error calls) produces level, text, args, and stack_trace. Runtime.exceptionThrown (uncaught exceptions) produces text, line, column, source_url, and stack_trace. Fields not applicable to the source are absent.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: console_error
        category:
          type: string
          const: console
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: |
                    Human-readable error text, as the browser console would display it. For console.error() calls, the first argument coerced to a string. For uncaught exceptions, the prefix and error message, e.g. "Uncaught Error: boom" or "Uncaught (in promise) TypeError: x is not a function".
                stack_trace:
                  $ref: '#/components/schemas/BrowserCallStack'
                level:
                  type: string
                  description: CDP console type value, always "error". Present only when sourced from Runtime.consoleAPICalled.
                args:
                  type: array
                  description: All console arguments coerced to strings. Present only when sourced from Runtime.consoleAPICalled.
                  items:
                    type: string
                line:
                  type: integer
                  description: Line number in the script where the exception was thrown. Present only when sourced from Runtime.exceptionThrown.
                column:
                  type: integer
                  description: Column number in the script where the exception was thrown. Present only when sourced from Runtime.exceptionThrown.
                source_url:
                  type: string
                  description: URL of the script file that threw the exception. Present only when sourced from Runtime.exceptionThrown.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserNetworkRequestEvent:
      type: object
      title: network_request
      description: A browser network request sent event.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: network_request
        category:
          type: string
          const: network
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                request_id:
                  type: string
                  description: CDP request identifier, unique within the session.
                method:
                  type: string
                  description: HTTP method as sent on the wire (e.g. GET, POST).
                document_url:
                  type: string
                  description: URL of the document that initiated the request.
                headers:
                  $ref: '#/components/schemas/BrowserHttpHeaders'
                  description: Request headers.
                resource_type:
                  type: string
                  description: CDP Network.ResourceType for the request, passed through as-is from Chrome. Known values include Document, Fetch, XHR, Script, Stylesheet, Image, Media, Font, TextTrack, EventSource, WebSocket, Manifest, Prefetch, Other, and more.
                initiator_type:
                  type: string
                  description: CDP Initiator.type indicating what caused the request, passed through as-is from Chrome. Known values include script, parser, preload, and other.
                post_data:
                  type: string
                  description: Request body for POST/PUT requests, if available.
                is_redirect:
                  type: boolean
                  description: True if this request is the result of a redirect.
                redirect_url:
                  type: string
                  description: Original URL before the redirect, present when is_redirect is true.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserNetworkResponseEvent:
      type: object
      title: network_response
      description: A browser network response received event. Fired after the response body is fully received, not when headers arrive.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: network_response
        category:
          type: string
          const: network
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                request_id:
                  type: string
                  description: CDP request identifier matching the originating network_request event.
                method:
                  type: string
                  description: HTTP method of the original request.
                status:
                  type: integer
                  description: HTTP response status code.
                status_text:
                  type: string
                  description: HTTP response status text (e.g. OK, Not Found).
                headers:
                  $ref: '#/components/schemas/BrowserHttpHeaders'
                  description: Response headers.
                mime_type:
                  type: string
                  description: MIME type of the response (e.g. text/html, application/json).
                resource_type:
                  type: string
                  description: CDP Network.ResourceType for the request, passed through as-is from Chrome. Known values include Document, Fetch, XHR, Script, Stylesheet, Image, Media, Font, TextTrack, EventSource, WebSocket, Manifest, Prefetch, Other, and more.
                body:
                  type: string
                  description: Truncated response body, present only for text MIME types.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserNetworkLoadingFailedEvent:
      type: object
      title: network_loading_failed
      description: A browser network loading failed event. If the request was already in flight when CDP attached (no prior network_request was emitted for it), url, frame_id, loader_id, and resource_type are absent; BrowserEventContext is partially populated in that case.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: network_loading_failed
        category:
          type: string
          const: network
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                request_id:
                  type: string
                  description: CDP request identifier matching the originating network_request event.
                error_text:
                  type: string
                  description: Network error description (e.g. net::ERR_CONNECTION_REFUSED).
                canceled:
                  type: boolean
                  description: True if the request was canceled by the browser or page script.
                resource_type:
                  type: string
                  description: CDP Network.ResourceType for the request, passed through as-is from Chrome. Known values include Document, Fetch, XHR, Script, Stylesheet, Image, Media, Font, TextTrack, EventSource, WebSocket, Manifest, Prefetch, Other, and more.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserNetworkIdleEvent:
      type: object
      title: network_idle
      description: A browser network idle event emitted after a 500ms quiet period with no in-flight HTTP requests.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: network_idle
        category:
          type: string
          const: network
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          $ref: '#/components/schemas/BrowserEventContext'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageNavigationEvent:
      type: object
      title: page_navigation
      description: A browser page navigation started event (CDP Page.frameNavigated). Carries nav context fields inline but not nav_seq, as this event resets the navigation epoch.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_navigation
        category:
          type: string
          const: page
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            url:
              type: string
              description: URL navigated to.
            frame_id:
              type: string
              description: CDP frame identifier of the navigated frame.
            parent_frame_id:
              type: string
              description: Parent frame identifier for subframe navigations; absent for top-level navigations.
            loader_id:
              type: string
              description: New CDP document loader identifier assigned for this navigation.
            session_id:
              type: string
              description: CDP session identifier.
            target_id:
              type: string
              description: Browser target identifier.
            target_type:
              $ref: '#/components/schemas/BrowserTargetType'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageDomContentLoadedEvent:
      type: object
      title: page_dom_content_loaded
      description: A browser DOMContentLoaded event (CDP Page.domContentEventFired).
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_dom_content_loaded
        category:
          type: string
          const: page
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                cdp_timestamp:
                  type: number
                  description: Chrome monotonic clock value in seconds at which DOMContentLoaded fired, relative to browser process start (not Unix epoch). Use ts for wall-clock time.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageLoadEvent:
      type: object
      title: page_load
      description: A browser page load event (CDP Page.loadEventFired).
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_load
        category:
          type: string
          const: page
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                cdp_timestamp:
                  type: number
                  description: Chrome monotonic clock value in seconds at which the load event fired, relative to browser process start (not Unix epoch). Use ts for wall-clock time.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageTabOpenedEvent:
      type: object
      title: page_tab_opened
      description: A new browser tab or target was opened (CDP Target.attachedToTarget for page targets). Fires before a CDP session is attached to the new target, so session_id, frame_id, loader_id, and nav_seq are absent; this event does not compose BrowserEventContext. Consumers reading context fields generically should treat it as a special case.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_tab_opened
        category:
          type: string
          const: page
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            target_id:
              type: string
              description: CDP target identifier for the newly opened tab.
            target_type:
              $ref: '#/components/schemas/BrowserTargetType'
            url:
              type: string
              description: Initial URL of the new tab.
            title:
              type: string
              description: Initial page title of the new tab.
            opener_id:
              type: string
              description: Target identifier of the tab that opened this one, if any.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageLayoutShiftEvent:
      type: object
      title: page_layout_shift
      description: A browser cumulative layout shift (CLS) event from the Performance Timeline API.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_layout_shift
        category:
          type: string
          const: page
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                source_frame_id:
                  type: string
                  description: CDP frame identifier of the frame where the layout shift occurred.
                time:
                  type: number
                  description: Performance Timeline timestamp of the layout shift in milliseconds.
                duration:
                  type: number
                  description: Duration of the layout shift entry in milliseconds (always 0 for layout shifts per spec).
                layout_shift_details:
                  type: object
                  additionalProperties: false
                  description: PerformanceLayoutShift attributes from the Performance Timeline entry.
                  properties:
                    value:
                      type: number
                      description: Layout shift score for this entry (contribution to CLS).
                    had_recent_input:
                      type: boolean
                      description: True if the layout shift was preceded by user input within 500ms, excluding it from CLS.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageLcpEvent:
      type: object
      title: page_lcp
      description: A browser Largest Contentful Paint (LCP) event from the Performance Timeline API.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_lcp
        category:
          type: string
          const: page
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                source_frame_id:
                  type: string
                  description: CDP frame identifier of the frame where the LCP element was rendered.
                time:
                  type: number
                  description: Performance Timeline timestamp of the LCP entry in milliseconds.
                lcp_details:
                  type: object
                  additionalProperties: false
                  description: LargestContentfulPaint attributes from the Performance Timeline entry.
                  properties:
                    render_time:
                      type: number
                      description: Render time of the LCP element in milliseconds; 0 for cross-origin images without Timing-Allow-Origin.
                    load_time:
                      type: number
                      description: Load time of the LCP element in milliseconds.
                    size:
                      type: number
                      description: Visible area of the LCP element in pixels squared.
                    element_id:
                      type: string
                      description: id attribute of the LCP element, if present.
                    url:
                      type: string
                      description: URL of the LCP element for image or video elements.
                    node_id:
                      type: integer
                      description: CDP DOM node identifier of the LCP element.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageLayoutSettledEvent:
      type: object
      title: page_layout_settled
      description: A browser layout settled event emitted 1 second after page load with no intervening layout shifts, indicating visual stability. Each layout shift resets the 1-second timer.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_layout_settled
        category:
          type: string
          const: page
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          $ref: '#/components/schemas/BrowserEventContext'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserPageNavigationSettledEvent:
      type: object
      title: page_navigation_settled
      description: Emitted when page_dom_content_loaded and page_layout_settled have both fired for the same navigation, indicating the page is loaded and visually stable. Independent of network_idle; a single pending request does not block it.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: page_navigation_settled
        category:
          type: string
          const: page
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          $ref: '#/components/schemas/BrowserEventContext'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserInteractionClickEvent:
      type: object
      title: interaction_click
      description: A browser user click event captured via injected page script.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: interaction_click
        category:
          type: string
          const: interaction
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                x:
                  type: integer
                  description: Viewport x-coordinate of the click in CSS pixels.
                y:
                  type: integer
                  description: Viewport y-coordinate of the click in CSS pixels.
                selector:
                  type: string
                  description: CSS selector path to the clicked element.
                tag:
                  type: string
                  description: HTML tag name of the clicked element in uppercase (e.g. BUTTON, A, DIV).
                text:
                  type: string
                  description: Visible text content of the clicked element, trimmed.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserInteractionKeyEvent:
      type: object
      title: interaction_key
      description: A browser keyboard event captured via injected page script.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: interaction_key
        category:
          type: string
          const: interaction
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                key:
                  type: string
                  description: Key value from the KeyboardEvent (e.g. Enter, Backspace, a).
                selector:
                  type: string
                  description: CSS selector path to the element that had focus when the key was pressed.
                tag:
                  type: string
                  description: HTML tag name of the focused element in uppercase (e.g. INPUT, TEXTAREA, DIV).
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserInteractionScrollSettledEvent:
      type: object
      title: interaction_scroll_settled
      description: A browser scroll settled event emitted after scroll position stops changing, captured via injected page script.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: interaction_scroll_settled
        category:
          type: string
          const: interaction
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          allOf:
            - $ref: '#/components/schemas/BrowserEventContext'
            - type: object
              properties:
                from_x:
                  type: integer
                  description: Scroll x-position at the start of the scroll gesture in CSS pixels.
                from_y:
                  type: integer
                  description: Scroll y-position at the start of the scroll gesture in CSS pixels.
                to_x:
                  type: integer
                  description: Final scroll x-position after the gesture settled in CSS pixels.
                to_y:
                  type: integer
                  description: Final scroll y-position after the gesture settled in CSS pixels.
                target_selector:
                  type: string
                  description: CSS selector path to the scrolled element.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorScreenshotEvent:
      type: object
      title: monitor_screenshot
      description: A periodic screenshot of the browser viewport.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_screenshot
        category:
          type: string
          const: screenshot
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            png:
              type: string
              contentEncoding: base64
              description: Base64-encoded PNG screenshot of the browser viewport.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorDisconnectedEvent:
      type: object
      title: monitor_disconnected
      description: The CDP connection to Chrome was lost. Telemetry events may be dropped until monitor_reconnected arrives. Treat any in-progress computed state (network_idle, page_layout_settled) as unreliable until then.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_disconnected
        category:
          type: string
          const: monitor
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            reason:
              type: string
              description: 'Reason for the disconnection. chrome_restarted: Chrome process restarted.'
              enum:
                - chrome_restarted
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorReconnectedEvent:
      type: object
      title: monitor_reconnected
      description: The CDP connection to Chrome was successfully re-established after a disconnection. Events emitted during the gap are lost. Computed state is reset, so navigation and network tracking restart fresh from this point.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_reconnected
        category:
          type: string
          const: monitor
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            reconnect_duration_ms:
              type: integer
              format: int64
              description: Wall-clock time in milliseconds taken to reconnect after the disconnection.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorReconnectFailedEvent:
      type: object
      title: monitor_reconnect_failed
      description: The CDP connection to Chrome could not be re-established after exhausting all reconnection attempts. No further telemetry events will arrive on this session.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_reconnect_failed
        category:
          type: string
          const: monitor
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            reason:
              type: string
              description: 'Reason for the reconnection failure. reconnect_exhausted: all retry attempts were used up without successfully restoring the CDP connection.'
              enum:
                - reconnect_exhausted
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserMonitorInitFailedEvent:
      type: object
      title: monitor_init_failed
      description: The CDP session could not be initialized.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: monitor_init_failed
        category:
          type: string
          const: monitor
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          properties:
            step:
              type: string
              description: The CDP method or initialization step that failed (e.g. Target.setAutoAttach).
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserApiCallEvent:
      type: object
      description: An agent-driven HTTP call handled by the in-VM API server.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: api_call
        category:
          type: string
          const: control
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          required:
            - request_id
            - operation_id
            - status
            - duration_ms
          properties:
            request_id:
              type: string
              description: Per-request identifier from the in-VM API request middleware.
            operation_id:
              type: string
              description: OpenAPI operationId of the matched route (e.g. processExec, takeScreenshot).
            status:
              type: integer
              description: HTTP response status code.
            duration_ms:
              type: number
              description: Wall-clock duration of the handler in milliseconds.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserCdpConnectEvent:
      type: object
      description: An external client (e.g. customer SDK, Playwright, Puppeteer) connected to the CDP WebSocket proxy on this VM.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: cdp_connect
        category:
          type: string
          const: connection
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserCdpDisconnectEvent:
      type: object
      description: An external client disconnected from the CDP WebSocket proxy on this VM. Pair with the immediately preceding cdp_connect on the same stream.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: cdp_disconnect
        category:
          type: string
          const: connection
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          required:
            - duration_ms
            - message_count
            - reason
          properties:
            duration_ms:
              type: number
              description: Wall-clock duration of the connection in milliseconds.
            message_count:
              type: integer
              description: Number of CDP messages relayed across the connection in either direction.
            reason:
              type: string
              x-go-type: string
              description: 'Why the connection ended. client_close: the client initiated the close. upstream_changed: Chromium restarted mid-session and the proxy tore down so the client could reconnect against the new upstream. upstream_error: upstream dial or message pump errored. context_cancelled: the request context was cancelled (typically server shutdown).'
              enum:
                - client_close
                - upstream_changed
                - upstream_error
                - context_cancelled
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserLiveViewConnectEvent:
      type: object
      description: A live view client connected to the headful browser's WebRTC server. Headful only; not emitted for headless images.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: live_view_connect
        category:
          type: string
          const: connection
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          required:
            - session_id
          properties:
            session_id:
              type: string
              description: Live view session identifier. Stable across reconnects, so a transient network blip can emit two events with the same session_id.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserLiveViewDisconnectEvent:
      type: object
      description: A live view client disconnected from the headful browser's WebRTC server. Pair with live_view_connect by session_id.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: live_view_disconnect
        category:
          type: string
          const: connection
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          required:
            - session_id
            - duration_ms
          properties:
            session_id:
              type: string
              description: Live view session identifier; matches the corresponding live_view_connect event.
            duration_ms:
              type: number
              description: Wall-clock duration of the connection in milliseconds.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserCaptchaSolveResultEvent:
      type: object
      description: A captcha solve attempt reached a terminal outcome.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: captcha_solve_result
        category:
          type: string
          const: captcha
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          required:
            - captcha_type
            - status
            - duration_ms
          properties:
            captcha_type:
              type: string
              x-go-type: string
              description: Captcha vendor family. Provider-specific task names are normalized into this set; anything not covered is reported as other.
              enum:
                - hcaptcha
                - recaptcha_v2
                - recaptcha_v3
                - turnstile
                - geetest
                - other
            status:
              type: string
              x-go-type: string
              description: 'Terminal outcome. success: solver returned a usable solution. failure: solver returned an error (see error_code). timeout: solver did not return within the caller''s wait budget. abandoned: caller cancelled or the page navigated away mid-solve.'
              enum:
                - success
                - failure
                - timeout
                - abandoned
            duration_ms:
              type: number
              description: Wall-clock duration from solve start to terminal outcome.
            task_id:
              type: string
              description: Solver-assigned identifier. Opaque, useful for support cross-references.
            website_host:
              type: string
              description: Host of the page where the captcha was solved.
            website_path:
              type: string
              description: Path of the page where the captcha was solved. Query string excluded.
            error_code:
              type: string
              description: Solver-specific error code on failure (e.g. ERROR_CAPTCHA_UNSOLVABLE). Absent on success.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserSystemOomKillEvent:
      type: object
      description: The Linux kernel OOM-killer terminated a process inside the VM. Fires for any process killed by the kernel due to memory exhaustion, including Chrome renderer subprocesses that are not supervised.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: system_oom_kill
        category:
          type: string
          const: system
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          required:
            - process_name
            - pid
            - rss_kb
          properties:
            process_name:
              type: string
              description: Comm of the killed process as reported by the kernel (max 15 chars, truncated by the kernel).
            pid:
              type: integer
              description: PID of the killed process.
            rss_kb:
              type: integer
              description: Resident set size of the killed process in KiB (sum of anon-rss, file-rss, and shmem-rss).
            trigger_process_name:
              type: string
              description: Comm of the process whose allocation request caused the kernel to invoke the OOM-killer. Often the same as process_name but can differ. Max 15 chars.
            trigger_pid:
              type: integer
              description: PID of the triggering process. Absent if the kernel did not emit the standard header line.
            constraint:
              type: string
              x-go-type: string
              description: Why the kernel decided to OOM-kill. none means global memory exhaustion; memcg means a cgroup memory limit was hit; cpuset / memory_policy are NUMA/policy-driven kills. Absent on kernels older than 5.0.
              enum:
                - none
                - memcg
                - cpuset
                - memory_policy
            mem_total_kb:
              type: integer
              description: Total system memory in KiB at the time of the kill. Assumes a 4 KiB page size. Absent if the kernel did not emit a parseable Mem-Info section.
            mem_free_kb:
              type: integer
              description: Free system memory in KiB at the time of the kill. Assumes a 4 KiB page size. Does not include reclaimable caches. Absent if the kernel did not emit a parseable Mem-Info section.
            top_tasks:
              type: array
              maxItems: 5
              description: Top processes by resident-set-size at the moment of the kill, sorted descending. Empty if the kernel did not emit the Tasks state table. Capped at 5 entries.
              items:
                type: object
                additionalProperties: false
                required:
                  - pid
                  - name
                  - rss_kb
                properties:
                  pid:
                    type: integer
                    description: PID of the process.
                  name:
                    type: string
                    description: Comm of the process (max 15 chars, truncated by the kernel).
                  rss_kb:
                    type: integer
                    description: Resident set size in KiB at the moment of the kill.
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserServiceCrashedEvent:
      type: object
      description: A managed service exited unexpectedly. Intentional stops do not produce this event; only unexpected exits and terminal restart-give-up transitions do.
      required:
        - ts
        - type
        - category
        - source
      properties:
        ts:
          type: integer
          format: int64
          description: Event timestamp in Unix microseconds.
        type:
          type: string
          const: service_crashed
        category:
          type: string
          const: system
        source:
          $ref: '#/components/schemas/BrowserEventSource'
        data:
          type: object
          additionalProperties: false
          required:
            - service_name
            - phase
          properties:
            service_name:
              type: string
              description: Program name of the crashed service (e.g. chromium, mutter, kernel-images-api).
            pid:
              type: integer
              description: PID of the crashed process. Absent when the process manager gave up after exhausting restart attempts.
            phase:
              type: string
              x-go-type: string
              description: 'Lifecycle phase the crash occurred in. startup: the process died before reaching a healthy running state. running: a previously healthy process died unexpectedly. gave_up: the process manager exhausted its restart attempts and stopped trying.'
              enum:
                - startup
                - running
                - gave_up
        truncated:
          type: boolean
          description: True if the data field was truncated due to size limits.
    BrowserTelemetryEvent:
      oneOf:
        - $ref: '#/components/schemas/BrowserConsoleLogEvent'
        - $ref: '#/components/schemas/BrowserConsoleErrorEvent'
        - $ref: '#/components/schemas/BrowserNetworkRequestEvent'
        - $ref: '#/components/schemas/BrowserNetworkResponseEvent'
        - $ref: '#/components/schemas/BrowserNetworkLoadingFailedEvent'
        - $ref: '#/components/schemas/BrowserNetworkIdleEvent'
        - $ref: '#/components/schemas/BrowserPageNavigationEvent'
        - $ref: '#/components/schemas/BrowserPageDomContentLoadedEvent'
        - $ref: '#/components/schemas/BrowserPageLoadEvent'
        - $ref: '#/components/schemas/BrowserPageTabOpenedEvent'
        - $ref: '#/components/schemas/BrowserPageLayoutShiftEvent'
        - $ref: '#/components/schemas/BrowserPageLcpEvent'
        - $ref: '#/components/schemas/BrowserPageLayoutSettledEvent'
        - $ref: '#/components/schemas/BrowserPageNavigationSettledEvent'
        - $ref: '#/components/schemas/BrowserInteractionClickEvent'
        - $ref: '#/components/schemas/BrowserInteractionKeyEvent'
        - $ref: '#/components/schemas/BrowserInteractionScrollSettledEvent'
        - $ref: '#/components/schemas/BrowserMonitorScreenshotEvent'
        - $ref: '#/components/schemas/BrowserMonitorDisconnectedEvent'
        - $ref: '#/components/schemas/BrowserMonitorReconnectedEvent'
        - $ref: '#/components/schemas/BrowserMonitorReconnectFailedEvent'
        - $ref: '#/components/schemas/BrowserMonitorInitFailedEvent'
        - $ref: '#/components/schemas/BrowserApiCallEvent'
        - $ref: '#/components/schemas/BrowserCdpConnectEvent'
        - $ref: '#/components/schemas/BrowserCdpDisconnectEvent'
        - $ref: '#/components/schemas/BrowserLiveViewConnectEvent'
        - $ref: '#/components/schemas/BrowserLiveViewDisconnectEvent'
        - $ref: '#/components/schemas/BrowserCaptchaSolveResultEvent'
        - $ref: '#/components/schemas/BrowserSystemOomKillEvent'
        - $ref: '#/components/schemas/BrowserServiceCrashedEvent'
      discriminator:
        propertyName: type
        mapping:
          console_log: '#/components/schemas/BrowserConsoleLogEvent'
          console_error: '#/components/schemas/BrowserConsoleErrorEvent'
          network_request: '#/components/schemas/BrowserNetworkRequestEvent'
          network_response: '#/components/schemas/BrowserNetworkResponseEvent'
          network_loading_failed: '#/components/schemas/BrowserNetworkLoadingFailedEvent'
          network_idle: '#/components/schemas/BrowserNetworkIdleEvent'
          page_navigation: '#/components/schemas/BrowserPageNavigationEvent'
          page_dom_content_loaded: '#/components/schemas/BrowserPageDomContentLoadedEvent'
          page_load: '#/components/schemas/BrowserPageLoadEvent'
          page_tab_opened: '#/components/schemas/BrowserPageTabOpenedEvent'
          page_layout_shift: '#/components/schemas/BrowserPageLayoutShiftEvent'
          page_lcp: '#/components/schemas/BrowserPageLcpEvent'
          page_layout_settled: '#/components/schemas/BrowserPageLayoutSettledEvent'
          page_navigation_settled: '#/components/schemas/BrowserPageNavigationSettledEvent'
          interaction_click: '#/components/schemas/BrowserInteractionClickEvent'
          interaction_key: '#/components/schemas/BrowserInteractionKeyEvent'
          interaction_scroll_settled: '#/components/schemas/BrowserInteractionScrollSettledEvent'
          monitor_screenshot: '#/components/schemas/BrowserMonitorScreenshotEvent'
          monitor_disconnected: '#/components/schemas/BrowserMonitorDisconnectedEvent'
          monitor_reconnected: '#/components/schemas/BrowserMonitorReconnectedEvent'
          monitor_reconnect_failed: '#/components/schemas/BrowserMonitorReconnectFailedEvent'
          monitor_init_failed: '#/components/schemas/BrowserMonitorInitFailedEvent'
          api_call: '#/components/schemas/BrowserApiCallEvent'
          cdp_connect: '#/components/schemas/BrowserCdpConnectEvent'
          cdp_disconnect: '#/components/schemas/BrowserCdpDisconnectEvent'
          live_view_connect: '#/components/schemas/BrowserLiveViewConnectEvent'
          live_view_disconnect: '#/components/schemas/BrowserLiveViewDisconnectEvent'
          captcha_solve_result: '#/components/schemas/BrowserCaptchaSolveResultEvent'
          system_oom_kill: '#/components/schemas/BrowserSystemOomKillEvent'
          service_crashed: '#/components/schemas/BrowserServiceCrashedEvent'
      description: |
        Union type representing any browser telemetry event. Discriminated on `type`. Each event's `category` determines when it is captured. The CDP collector-health events (monitor_disconnected, monitor_reconnected, monitor_reconnect_failed, monitor_init_failed) use the `monitor` category, which is not user-configurable: it flows automatically whenever any CDP category (console, network, page, interaction) is captured, and is silent otherwise. monitor_screenshot uses the opt-in `screenshot` category. All other event types are controlled by their per-category enable/disable flags.
    BrowserTelemetryEventEnvelope:
      type: object
      description: |
        Envelope wrapping a browser telemetry event with its monotonic sequence number. Each SSE data: frame carries one envelope as JSON. The seq value is also emitted as the SSE id: field so clients can pass it as Last-Event-ID on reconnect.
      required:
        - seq
        - event
      properties:
        seq:
          type: integer
          format: int64
          minimum: 1
          description: |
            Process-monotonic sequence number assigned by the browser VM. Pass as Last-Event-ID on reconnect to resume without gaps. Gaps in received seq values indicate dropped events.
        event:
          $ref: '#/components/schemas/BrowserTelemetryEvent'
      additionalProperties: false
    Profile:
      type: object
      description: Browser profile metadata.
      properties:
        id:
          type: string
          description: Unique identifier for the profile
        name:
          type: string
          nullable: true
          description: Optional, easier-to-reference name for the profile
        created_at:
          type: string
          format: date-time
          description: Timestamp when the profile was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the profile was last updated
        last_used_at:
          type: string
          format: date-time
          description: Timestamp when the profile was last used
      required:
        - id
        - created_at
    ProfileRequest:
      type: object
      description: Request body for creating a profile.
      properties:
        name:
          type: string
          description: Optional name of the profile. Must be unique within the logical project; during the default-project migration, unscoped profiles and profiles in the org default project are treated as the same project.
      required: []
    ProfileUpdateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: New profile name. Must be unique within the logical project; during the default-project migration, unscoped profiles and profiles in the org default project are treated as the same project.
          minLength: 1
          maxLength: 255
          example: my-renamed-profile
    BrowserProfile:
      type: object
      description: |
        Profile selection for the browser session. Provide either id or name. If specified, the
        matching profile will be loaded into the browser session. Profiles must be created beforehand.
      properties:
        id:
          type: string
          description: Profile ID to load for this browser session
        name:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          description: Profile name to load for this browser session (instead of id). Must be 1-255 characters, using letters, numbers, dots, underscores, or hyphens.
        save_changes:
          type: boolean
          description: If true, save changes made during the session back to the profile when the session ends.
          default: false
      oneOf:
        - required:
            - id
        - required:
            - name
    BrowserPoolProfile:
      type: object
      description: |
        Profile configuration for browsers in a pool. Provide either id or name. Profiles must
        be created beforehand. Unlike single browser sessions, pools load the profile read-only
        and never persist changes back to it, so save_changes is omitted here. Any save_changes
        value sent on a pool profile is silently ignored rather than rejected.
      properties:
        id:
          type: string
          description: Profile ID to load for browsers in this pool
        name:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          description: Profile name to load for browsers in this pool (instead of id). Must be 1-255 characters, using letters, numbers, dots, underscores, or hyphens.
      oneOf:
        - required:
            - id
        - required:
            - name
    ProxyRef:
      type: object
      description: |
        Proxy selection. Provide either id or name. The proxy must be in the same project as the resource referencing it.
        When selecting by name, the name must match exactly one active proxy in the project. Ambiguous names return a 400; use id for stable references.
      properties:
        id:
          type: string
          description: Proxy ID
        name:
          type: string
          description: Proxy name
      oneOf:
        - required:
            - id
        - required:
            - name
    BrowserProxyMode:
      type: string
      enum:
        - direct
        - default
      description: |
        Proxy egress mode. direct forces no proxy regardless of stealth. default uses the browser's stealth-derived default: Kernel's default stealth proxy when stealth=true, or direct egress when stealth=false.
        default is primarily useful on browser update to restore the browser default after selected-proxy egress.
    BrowserProxyConfig:
      type: object
      additionalProperties: false
      description: |
        Browser proxy configuration. Provide exactly one of mode, id, or name; an empty object is invalid.
        Set mode to direct for no proxy regardless of stealth. Set mode to default to use the browser's stealth-derived default: Kernel's default stealth proxy when stealth=true, or direct egress when stealth=false.
        Select id or name to use that proxy regardless of stealth. The selected proxy must be in the same project as the browser. Names must match exactly one active proxy; use id for stable references.
        Proxy configuration changes only egress and does not change stealth or CAPTCHA solver behavior. A stealth browser using mode=direct still runs in stealth mode with the CAPTCHA solver enabled.
        When proxy is omitted on browser creation, stealth browsers use Kernel's default stealth proxy and non-stealth browsers use direct egress. When omitted on update, the current configuration is unchanged.
      properties:
        mode:
          $ref: '#/components/schemas/BrowserProxyMode'
        id:
          type: string
          minLength: 1
          description: Proxy ID.
        name:
          type: string
          minLength: 1
          description: Proxy name. Must match exactly one active proxy in the project.
      oneOf:
        - required:
            - mode
        - required:
            - id
        - required:
            - name
    BrowserProxy:
      type: object
      additionalProperties: false
      description: Resolved proxy configuration for a browser session. Selected proxies are returned by stable ID.
      properties:
        mode:
          $ref: '#/components/schemas/BrowserProxyMode'
        id:
          type: string
          minLength: 1
          description: Selected proxy ID.
        name:
          type: string
          minLength: 1
          description: Selected proxy name.
      oneOf:
        - required:
            - mode
        - required:
            - id
        - required:
            - name
    BrowserViewport:
      type: object
      description: |
        Initial browser window size in pixels with optional refresh rate.
        If omitted, image defaults apply (1920x1080@25).
        For GPU images, the default is 1920x1080@60.
        Arbitrary viewport dimensions and refresh rates are accepted.
        Known-good presets include:
        2560x1440@10, 1920x1080@25, 1920x1200@25, 1440x900@25, 1280x800@60, 1024x768@60, 1200x800@60, 768x1024@60, 390x844@60.
        For GPU images, recommended presets use one of these resolutions with refresh rates 60, 30, 25, or 10:
        800x600, 960x720, 1024x576, 1024x768, 1152x648, 1200x800, 1280x720, 1368x768, 1440x900, 1600x900, 1920x1080, 1920x1200, 390x844, 360x250, 768x1024, 800x1600.
        Viewports outside this list may exhibit unstable live view or recording behavior.
        If refresh_rate is not provided, it will be automatically determined based on the resolution
        (higher resolutions use lower refresh rates to keep bandwidth reasonable).
      properties:
        width:
          type: integer
          description: Browser window width in pixels. Any positive integer is accepted.
          minimum: 1
          example: 1280
        height:
          type: integer
          description: Browser window height in pixels. Any positive integer is accepted.
          minimum: 1
          example: 800
        refresh_rate:
          type: integer
          description: Display refresh rate in Hz. Any positive integer is accepted; if omitted, automatically determined from width and height.
          minimum: 1
          example: 60
      required:
        - width
        - height
    BrowserViewportUpdate:
      description: Viewport configuration for updating a browser session. Extends BrowserViewport with update-only options.
      allOf:
        - $ref: '#/components/schemas/BrowserViewport'
        - type: object
          properties:
            force:
              type: boolean
              default: false
              description: |
                If true, allow the viewport change even when a live view or recording/replay is active.
                Active recordings will be gracefully stopped and restarted at the new resolution as
                separate segments. If false (default), the resize is refused when a live view or recording is active.
    Extension:
      type: object
      description: A browser extension uploaded to Kernel.
      properties:
        id:
          type: string
          description: Unique identifier for the extension
        name:
          type: string
          nullable: true
          description: Optional, easier-to-reference name for the extension. Must be unique within the project.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the extension was created
        size_bytes:
          type: integer
          description: Size of the extension archive in bytes
        checksum:
          type: string
          nullable: true
          minLength: 64
          maxLength: 64
          description: SHA-256 checksum, encoded as lowercase hexadecimal, of the exact uploaded extension archive bytes. This is not a normalized checksum of the extension contents; archive metadata, file ordering, and compression can change the checksum for otherwise identical contents. Omitted for legacy rows and server-repackaged Chrome Web Store extensions.
        last_used_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the extension was last used
      required:
        - id
        - created_at
        - size_bytes
    BrowserExtension:
      type: object
      description: |
        Extension selection for the browser session. Provide either id or name of an extension uploaded to Kernel.
      properties:
        id:
          type: string
          description: Extension ID to load for this browser session
        name:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          description: Extension name to load for this browser session (instead of id). Must be 1-255 characters, using letters, numbers, dots, underscores, or hyphens.
      oneOf:
        - required:
            - id
        - required:
            - name
    BrowserPoolConfig:
      type: object
      description: |
        Effective browser pool configuration returned by the API.
      properties:
        size:
          type: integer
          description: |
            Number of browsers maintained in the pool. The maximum size is determined by your
            organization's pooled sessions limit (the sum of all pool sizes cannot exceed your limit).
          minimum: 1
          example: 10
        name:
          type: string
          pattern: ^[a-zA-Z0-9._-]{1,255}$
          description: Optional name for the browser pool. Must be unique within the project.
          example: my-pool
        fill_rate_per_minute:
          type: integer
          description: Percentage of the pool to fill per minute. The cap is 25 for most organizations but can be raised per-organization, so only the lower bound is enforced here.
          minimum: 0
        timeout_seconds:
          type: integer
          description: Default idle timeout in seconds for browsers acquired from this pool before they are destroyed. Minimum 10, maximum 259200 (72 hours).
          minimum: 10
          maximum: 259200
        stealth:
          type: boolean
          description: If true, launches the browser in stealth mode to reduce detection by anti-bot mechanisms.
          example: true
        headless:
          type: boolean
          description: If true, launches the browser using a headless image.
          example: false
[...]
